default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  host: <%= ENV["DATABASE_HOST"] %>
  port: <%= ENV["DATABASE_PORT"] %>
  schema_search_path: <%= ENV["DATABASE_SCHEMA"] %>

  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: <%= ENV["DATABASE_DB"] %>
  
  
test:
  <<: *default
  database: tarifas_aneel_api_test


production:
  <<: *default
  database: tarifas_aneel_api_production
  username: tarifas_aneel_api
  password: <%= ENV['TARIFAS_ANEEL_API_DATABASE_PASSWORD'] %>
